@font-face {
  font-family: 'Ninja Naruto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Ninja Naruto Regilar'), url('./assets/ninja-naruto.regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Ninja Naruto Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245,212,20);
  background: linear-gradient(145deg, rgba(245,212,20,1) 0%, rgba(232,52,52,1) 100%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
